<!DOCTYPE html>
<html lang="en">

<head>
    <title>## Homework 5</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>

    <div class="container">
        <h2 id="app-title"></h2>
        <form id="form">
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
            </div>
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" id="name" placeholder="Enter Name" name="name">
            </div>
            <span class="btn btn-primary" data-target="#myModal">Submit</button>  
        <form>
        <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-body">
                        <img src="./images/awesome.jpg" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>